.chat {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;

    display: flex;

    font: 14px/20px "Lato", Arial, sans-serif;
}

.chat .chat-list {
    order: 1;
    width: 260px;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    color: white;

    list-style: none;
    padding: 20px;
    height: 770px;
}

.chat .chat-list .chat-list-item {
    padding-bottom: 20px;
    cursor: pointer;

    background-image: url("../images/chat_avatar.jpg");
    background-repeat: no-repeat;
    background-size: 55px;
    height: 55px;
    padding-left: 63px;
    padding-top: 8px;
}

.chat .chat-messages-panel {
    order: 2;

    width: 490px;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;

    display: flex;
    flex-direction: column;
}

.chat-messages {
    order: 1;

    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    list-style: none;
}

.chat-message {

}

.send-message-form {
    order: 2;

    padding: 30px;
}

.message-text-area {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.send-button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
    outline: none;
}

.send-button:hover {
    color: #75b1e8;
}